$breakpoints: (
    //Extra small devices (phones)
    xsmall: 480px,
    //Small devices (portrait, tablets and large phones)
    small: 600px,
    //Medium devices (landscape tablets)
    medium: 768px,
    //Large devices (laptops/desktop)
    large: 992px,
    //Extra large devices (large laptops and desktops)
    xlarge: 2200px
);
